{% extends "cblog_base.html" %}
{% block css %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href={% static "cblog/article.css" %}>
{% endblock %}
{% block section %}
    <div>
    <ol>
    {% for entry in entry_list %}
        <li class="centerblock">
            <div class="ribbon">
                <a>{{ entry.pub_date|date:"d M Y" }}</a>
            </div>
            {% if user.is_authenticated %}
            <div class="articlemanage">
                <a href={% url 'reverse_cblog_delete' entry.id %}><div class="articledelete">x</div></a>
                <a href={% url 'reverse_cblog_edit' entry.id %}><div class="articleedit">+</div></a>
            </div>
            {% endif %}
            <div class="article" id={{ entry.slug }}>
                <div class="article_title"><a href="#">{{ entry.title }}</a></div>
                <div> {{ entry.isdraft }}</div><br>
                {% if forloop.first %}
                    <div class="article_body">{{ entry.body|safe }}</div>
                {% else %}
                    <div class="article_body">{{ entry.body|truncatewords_html:100 }}<a href="">MORE</a></div>
                {% endif %}
            </div>
        </li>
    {% endfor %}
    </ol>
    </div>
{% endblock %}
