<div class="commentwrap">
    <form action="{% url 'reverse_cblog_comment' entry.id comment.id %}?index={{ index }}" method="post" class="commentblock">
        {% csrf_token %}
        {{ commentform.as_p }}
        <div class="submit">
            <input type="submit" value="publish" />
        </div>
    </form>
    <ol>
    {% for comment in comment_list %}
        <li>
        <p>{{ comment.name }}:</p>
        <p><blockquote>{{ comment.content }}</blockquote></p>
        <p>{{ comment.pub_date }}:</p>
        </li>
    {% endfor %}
    </ol>
</div>
