{% extends "cblog_base.html" %}
{% block css %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href={% static "cblog/article.css" %}>
{% endblock %}
{% block section %}
    <ol>
    {% for entry in entry_list %}
        <li>
            <div class="ribbon">
                <a>Jul 12</a>
            </div>
            {% if user.is_authenticated %}
            <div class="articlemanage">
                <a><div class="articledelete">x</div></a>
                <a><div class="articleedit">+</div></a>
            </div>
            {% endif %}
            <div class="article" id={{ entry.slug }}>
                <div class="article_title"><a href="#">{{ entry.title }}</a></div>
                <div class="article_body">{{ entry.body }}</div>
            </div>
        </li>
    {% endfor %}
    </ol>
{% endblock %}
