<div class="article_title"><a href={% url 'reverse_cblog_entry' entry.slug entry.id %}>{{ entry.title }}</a></div>
<div class="article_body">{{ entry.body|safe }}</div>
<div class="article_links">
    <ul>
        <div class="links_name">
            {% if entry.categories.all.count == 1 %}Category{% else %}Categories{% endif %}:
        </div>
        {% for category in entry.categories.all %}
        <li><a href="{% url 'reverse_cblog_category' category.id %}">{{  category }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="commentwrap">
    <form action="{% url 'reverse_cblog_edit_comment' entry.id comment.id %}?index={{ index }}" method="post" class="commentblock">
        {% csrf_token %}
        {{ commentform.as_p }}
        <div class="submit">
            <input type="submit" value="publish" />
        </div>
    </form>
    <ol>
    {% for comment in comment_list %}
        <li>
        {% if user.is_authenticated %}
        <div class="commentmanage"><a href="{% url 'reverse_cblog_delete_comment' entry.id comment.id %}">X</a></div>
        {% endif %}
        <p>{{ comment.name }}:</p>
        <p><blockquote>{{ comment.content }}</blockquote></p>
        <p>{{ comment.pub_date }}:</p>
        </li>
    {% endfor %}
    </ol>
</div>
